<h1>User#index</h1>
<p>Find me in app/views/user/index.html.erb</p>

<a href="/user/hello">Hello Page</a><br />
<%= link_to('Hello Page 2', {:action => 'hello'}) %><br />

<%= link_to('Hello with parameteres', {:action => 'hello', :page => 5, :id => 20}) %>