<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 col-md-3">
				<ul>
					<li class="footerList"><a href="footer/aboutUs.html" title="about us" >about us</a></li>
					<li class="footerList"><a href="footer/advertiseWithUs.html" title="advertise with us">advertise with us</a></li>
					<li class="footerList"><a href="footer/terms.html" title="terms of service">terms of service</a></li>
				</ul>
			</div>
			<div class="col-xs-6 col-md-3">
				<ul>
					<li class="footerList2"><a href="footer/petSearch.html" title="pet search">pet search</a></li>
					<li class="footerList2"><a href="dogCare/careBreeds.html" title="breeds">breeds</a></li>
					<li class="footerList2"><a href="dogCare/careBringHomeADog.html" title="pet care">pet care</a></li>
				</ul>
			</div>
			<div class="col-xs-6 col-md-3">							
					<a href="#" title="contact us" class="footerList">contact us</a>						
			</div>
			<div class="col-xs-6 col-md-3" id="footerAddOrganization">
				<p class="footerAddOrgParagraph">Add your Organization:</p>
				<input type="text" class="name" name="name">
			</div>
		</div>
		
		<div>
			<hr class="footerHr">
		</div>
		
		<div class="row"> 
			<div id="footerBottomContainer">
				<div class="col-xs-12 col-md-6">
							<ul id="footerUOList">
								<span id="footerSocialMediaText">
								Get the word out.  Like us on:
								</span>
								<li class="footerList3"><a href="https://www.facebook.com/" title="like us on facebook" target="blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
								<li class="footerList3"><a href="https://twitter.com/" title="follow us on twitter" target="blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
								<li class="footerList3"><a href="https://plus.google.com/" title="google plus" target="blank"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
							</ul>
				</div>
				<div class="col-xs-12 col-md-6">
					<span class="footerCopyright">@copyright Perfect Pet Finder 2015</span>
				</div>
			</div>
		</div>
	</div>
</footer>