<div class="headerContainer">
		<header>
			<div id="headerNavigationContainer">
				<span class="headerHeartLogo"><img src="../assets/heartpaw.jpg"></span>		
				<div class="headerTitleNavigationContainer">
					<h1 id="headerH1">Finding your Perfect Pet</h1>		
					
				</div>
			</div>
		
		
			<div class="headerAllSearchContainer">
				<div class="headerLanguageContainer">
					<ul>
						<li><a href="#" title="Espanol"><img src="../assets/flag-spanish.png"></a></li>
						<li><a href="#" title="Catalan"><img src="../assets/catalan-button.png"></a></li>
						<li><a href="#" title="English"><img src="../assets/flag-english.png"></a></li>					
					</ul>
				</div>						
			</div>
			</header>
		</div>	
		
		<div class="headerQuoteContainer">
			<div id="headerQuote">Dogs are not our whole life, but they make our lives whole <span id="headerQuoted"><sub><i>—Roger Caras</i></sub></span></div>
		</div>
	</div>