<!DOCTYPE html>
<html>
<head>
	<title>Input Form</title>
</head>
<body>
<form action="/dogs/create" method="post"></form>
	
	<h3>Dog's Name</h3>
	<input type="text" name="dog[name]" />

	<h3>Gender</h3>
	<input type="radio" name="sex" value="male" checked>Male
	<br>
	<input type="radio" name="sex" value="female">Female

	<h3>Breed</h3>
	<input type="text" name="dog[name]" />

	<select name="age">
		<h3>Age</h3>
		<option value="puppy">Puppy</option>
		<option value="young">Young</option>
		<option value="adult">Adult</option>
		<option value="senior">Senior</option>
	</select>

	<select name="size">
		<h3>Size</h3>
		<option value="small">Small</option>
		<option value="medium">Medium</option>
		<option value="large">Large</option>
		<option value="extra-large">Extra Later</option>
	</select>
		<h3>Good with:</h3>
		<h4>People</h4>
		<input type="radio" name="behavior" value="yes" checked>Yes
		<input type="radio" name="behavior" value="no">No

		<h4>Children</h4>
		<input type="radio" name="behavior" value="yes" checked>Yes
		<input type="radio" name="behavior" value="no">No

		<h4>Other Dogs</h4>
		<input type="radio" name="behavior" value="yes" checked>Yes
		<input type="radio" name="behavior" value="no">No

		<h4>Image file</h4>
		<input type="text" name="url">

		<button type="submit" value="add new dog record">Upload</button>
</body>
</html>