body {
	margin: 0;
	background-color: #F5F8FA;
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
}

ul	{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li	{
	display: inline;
	padding: 1em;
	font-size: .8em;
	font-family: sans-serif;
}

/*Header*/

header	{
	background-color: white;
	position: fixed;
    top: 0;
	min-width: 100%;
	margin-right: 10px;
	height: 46px;
}

.leftHeaderMenu	{
	float: left;
	background-color: white;
	margin-top: 7px;
	margin-left: 30px;
	color: #6A777F;	
	font-size: 16px;
	font-weight: bold;
	text-align: left;
}

.numericBox 	{
	color:#6AC2C1;
	z-index: 2;
}

.rightMenu	{
	float: right;
	margin-right: 10px;
	padding-top: 5px;
	text-align: right;
	background-color: white;
	color: #6A777F;
	margin-top: 7px;
}

#imageMe	{
	border-radius: 100%;
	width: 30px;
	height; 30px;

}

/*Background Photo & Ironhack Logo*/

.centerPhoto	{
	margin-top: 46px;
	height: 320px;
	width: 100%;
	position: relative;
	z-index: -1;
}

h2 { 
   position: absolute; 
   top: 250px; 
   left: 0; 
   width: 100%; 
}

.ironhackImg	{
	height: 200px;
	border: 5px solid white;
	border-radius: 8%;
	margin-left: 75px;
}

/*Middle Twitter Data Bar*/

.menu2	{
	background-color: white;
	height: 60px;
}

.statMenu	{
	margin-left: 350px;
	padding-top: 5px;
	height: 60px;

}

.stats	{
	display: inline-block;
	padding-right: 25px;
	font-size: .9em;
	color: #6A777F;
	line-height: .9em;
}

.numStat	{
	text-align: center;
	color: #1BA3A8;
	font-weight: 500;
	font-size: 18px;
}

.activeStat	{
	color: black;
	font-weight: 500;  
	font-size: 18; 
}

.activeNumStat	{
	text-align: center;
	color: black;
}

button	{
	border-radius: 10%;
}

.btn-primary {
    background: #1BA3A8;
    color: white;
    height: 32px;
    border: 1px solid #1BA3A8;
}

.btn-default	{
	color: #55ACEE;
	cursor: pointer;
  	border .8px solid #7FCBCB;
}


a	{
	color: #6A777F;
}

.imageTwitterMenu	{
	margin-top: 7px;
	margin-bottom: 4px;
}

/*body of twitter page*/

.content	{
	margin-top: 0px;
	  input {
	    width: 265px;
	    transition: width 0.2s;
	    -webkit-appearance: none; /* Autoprefixer doesn't catch this */
  }
}

/*Ironhack Side Bar*/

.container1	{
	margin-left: 72px;
	padding-top: 70px; 
}

.ironhackSideBar	{
	font-size: 14px;
}

.ironhack	{
	font-size: 22px;
	color: black;
}

.atIronhack	{
	font-size: 14px;
	color: #8899A6;
}

.profileSentence	{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  word-wrap: break-word;
}

/*Tweets*/

.container2	{
	position: absolute;
	margin-top: 10px;
	background: white;
	border-radius: 5%;
}

/*Right Side Bar*/

.container3	{
	float: right;
	display: inline;
	margin-top: 10px;
	background: white;
	border-radius: 5%;
	text-align: left;
	font-size: 14px;
}

.whoToFollow	{
	float: left;
}

.headerListContainer3	{
	display: inline;
	color: #009999
}
